#nav_icon {
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
   cursor: pointer;
    width: 45px;
}
@media(min-width: 769px){
    #wapper-menu {
        display: none;
    }
}
.darkHeader{
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 10000;
        transition: all 0.2s ease;
    }
#wapper-menu {
    background-color: #000000;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.pfix {
    position: fixed !important;
}

@media screen and (max-width: 768px){
    #wapper-menu .nav-menu {
    -webkit-overflow-scrolling: touch;
    -ms-transform: translate(-124%,0);
    -webkit-transform: translate3d(-124%,0,0);
    -moz-transform: translate3d(-124%,0,0);
    -ms-transform: translate3d(-124%,0,0);
    -o-transform: translate3d(-124%,0,0);
    transform: translate3d(-124%,0,0);
    position: absolute;
    top: 48px;
    left: 0px;
    width: 260px;
    background: #262626;
    transition: all .25s;
    z-index: 9999;
}
#wapper-menu .move-right {
    -webkit-overflow-scrolling: touch;
    -ms-transform: translate(0%, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition: all .25s;
}
}


#wapper-menu .nav-menu {
    margin: 0px;
    padding: 0px;
    float: left;
    max-height: 500px;
    overflow-y: auto;
    background: #000000;
}



#wapper-menu .box-menu {
    height: 50px;
    position: relative;
}
#wapper-menu .box-menu .logo_yuna {
    width:150px;
    display: inline-block;
    position: relative;
    top: -10px;
}
#wapper-menu .box-menu .logo_yuna img {
    width:100%;
}

#wapper-menu .box-menu .host-new{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    width: 100px;
    padding-top: 15px;
    cursor: pointer;

}
#wapper-menu .box-menu .host-new .new{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
#wapper-menu .box-menu .search-input {
    position: absolute;
    top: -2px;
    right: 55px;
    width: 70%;
}
@media(max-width: 340px){
    #wapper-menu .box-menu .host-new{
        padding-right: 0;
        padding-left: 0;
        margin-left: 0px;
        width:70px;

    }
    #wapper-menu .box-menu .search-mb {
        padding-right: 5px;
    }

}
@media(max-width: 768px){
    #wapper-menu .box-menu .search-input {
        width:88%;
    }
}
@media(max-width:767px) {
    #wapper-menu .box-menu .search-input {
        width:75%;
    }
}
@media(max-width:375px) {
    #wapper-menu .box-menu .search-input {
        width:72%;
    }
}
@media(max-width:320px) {
    #wapper-menu .box-menu .search-input {
        width: 74%;
        right: 44px;
    }
}
#wapper-menu .box-menu .search-input input {
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
}
#wapper-menu .box-menu .host-new >.fa-sort-desc {
    font-size: 18px;
}
#wapper-menu > .demo >.search-mb>.search-input {
    display: block;
}
#wapper-menu .box-menu .search-mb {
    float:right;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    line-height: 50px;
    padding-right: 10px;
}
@media only screen and (max-width: 768px){
ul.nav-menu.clearfix.move-right {
    list-style-type: none;
}}
ul.nav-menu.clearfix.move-right {
    list-style-type: none;
}
#wapper-menu .nav-menu li.login_m {
    border-bottom: 1px solid #FFF;
    background: none;
    padding-left: 5px;
}
#wapper-menu .nav-menu>li {
    width: 100%;
      float: left;
     position: relative;
     cursor: pointer;
}
#wapper-menu .nav-menu li.login_m a.dangnhap {
    float: left;
    margin: 15px 8px;
    padding: 5px 15px;
    line-height: 20px;
    border: 1px #ddd solid;
    border-radius: 4px;
}
#wapper-menu .nav-menu li.login_m a.dangky {
    float: left;
    margin: 15px 5px;
    padding: 5px 25px;
    line-height: 20px;
    border: 1px #ddd solid;
    background-color: #ddd;
    color: #000;
    border-radius: 4px;
}
#wapper-menu .nav-menu>li a {
    margin-left: 5px;
    font-family: Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

#wapper-menu .nav-menu .item-child >a.count {
    line-height: 40px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-top:10px;
}

#wapper-menu .nav-menu li span.wrapper-icon {
    width: 34px;
    position: absolute;
    top: 3px;
    text-align: center;
}
#wapper-menu .nav-menu li span.count {
    display: block;
    position: absolute;
    top: 25px;
    left: 14px;
    line-height: 35px;
    color: white;
    padding-left: 20px;
}

#wapper-menu .down-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 53px;
    cursor: pointer;
    background: url("../images/down.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
}
#wapper-menu .down-icon1 {
     display: none; 
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 53px;
    cursor: pointer;
    background: url("../images/tru.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 3px;
}
#wapper-menu .down-icon {
    display: block;
}
#wapper-menu .down-icon1 {
    display: block;
}


#wapper-menu {
    .nav-menu {
        .pdbottom10 {
            padding-bottom: 10px;
        }
        .item-child {
              border-bottom: 1px solid #1b1b1b;
            .title {
                font-size:16px;
                text-transform: capitalize;
                i {
                    padding-right:5px;
                    font-size:20px;
                    color: #008cd8;
                    padding-top:15px;
                }
            }
            .total {
                color: #9E9E9E;
                padding-left:30px;
            }

            .sub-item {
                background: #000;
                display: none;
                padding-left: 0;
                .sub-title {
                      font-size:16px;
                        text-transform: capitalize;
                }
                .sub-total {
                    
                     font-size: 14px;
                }
                >li {
                    padding-left: 30px;
                    padding-top:15px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #1b1b1b;
                     margin-bottom: 2px;
                }
            }
             .active {
                display: block;
            }
        }
    }
}
#search-2 {
    display: none;
}
#wapper-menu .box-menu .search-input input {
    color: #303030;
    height: 52px !important;
}

  span.text-news {
    color: #484848;
    font-size: 18px;
    font-weight: 600;
    float: left;
}
  span.fa.fa-rss {
    color: #fb9601;
    float: left;
    margin-right: 9px;
}

 

input#show-news, input#hide-news {
    display:none;
}
label.show-news {
    margin-top: 12px;
}
#topnews_header {
    display: none;
    height: 100% !important;
    width: 100%;
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    position: fixed;
    /* overflow: hidden; */
}



/*======================================*/
.table-news {
   height: 40px;
    margin-top: 14%;
    width: 100%;
    background: white;
    padding: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.button-news {
    width: 18%;
    text-align: center;
    margin-right: 25px !important;
    font-size: 16px;
    float: right;
    height: 100% !important;
    line-height: 1;
    margin-top: 0;
    margin-right: 0;
    color: white;
    height: 42px;
    padding-top: 7px;
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    transition: background 400ms ease;
}
