.list-job-detail {
	margin-bottom:15px;
	.bg-fff {
		background: #fff;
	}
	.title {
	    font-weight: 600;
	    color: #008cd8;
	}
	a {text-decoration: none;}
	.input-search {
		padding-top:20px;
		.form-search .input-group .btn-search {
		    height: 45px;
		    background-color: #008cd8;
		}
		 .form-search .input-group input {
   			 height: 45px;
		}
		.form-search .input-group .btn-search i {
		    font-size: 20px;
		    color: #fff;
		}

	}
		.category-menu {
			padding-top:20px;
			.menu-title {
				padding-left:0;
				.title {
					height: 45px;
				    line-height: 36px;
				    background: #008cd8;
				    text-transform: uppercase;
				    color: #fff;
				    padding-left: 10px;
				    font-size: 16px;

				}
				li {
					list-style: none;
					padding-top:5px;
					line-height:45px;
				    height:45px;
   					 text-transform: uppercase;
				     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#F6F6F6));
				  	padding-left:25px;
				  	a {
				  		 color: #484848;
				  		 font-weight: 600;
				  		 &:hover {
							color: #1f6797;
							font-weight: 600;
				  		 }
				  	}
				  }
			}
		}

		.box-img {
			img {width:100%;}
		}
		.content-1 {
			font-size:16px;
			line-height: 25px;
			color: #636363;
		}
		.author-content {
				padding:15px;
				.post {
					font-size: 13px;

					padding:10px;
					a {
						color:#4f5357;
					}
					&:first-child{
						padding-left:0;
					}
					i {
						padding-right:5px;
					}
				}
				
			}
	.text-content-full {
		line-height: 30px;
		padding-left:15px;
		color: #636363;
		font-size: 16px;
		padding-right:15px;
		img {
			width:100%;
		}
		span {
		    margin-top: 20px;
		    display: block;
		    margin-bottom: 10px;

		}

	}
	.post-tag {
		padding-bottom: 15px;
		border-bottom:1px solid #ccc;
		    padding-left: 15px;
		    padding-right:15px;
			i {
				padding-right:10px;
			}
			a {
				padding:10px 10px;
			}
		}
		.post-comment {
			    padding-left: 15px;
    			padding-bottom: 15px;
    			padding-right:15px;
			.pc-title {
				padding-top:15px;
				span {
					color: #484848;
   					 font-size: 28px;
				}
			}
			.avt {
				width:75px;
				height: 75px;
				display: inline-block;
				 margin-top: 15px;
				img {
					width:100%;
				}
			}
			.fn {
				padding-left:15px;
			}
			.comment-metadata {
				float:right;
				padding-top:15px;
				a {
					color: #34495e;
				}
			}
			.comment-content {
				padding-top:15px;

			    padding-bottom: 15px;
			  
			}
			.comment-meta{
				    margin-left: 80px;
				    padding-top: 15px;
				    border-top: 1px solid #ccc;
			}
			.reply {
				padding-top: 10px;
				a.comment-reply-link {
				    background: none;
				    border: none;
				    border: 2px solid #c0392b;
				    border-radius: 5px;
				    color: #c0392b;
				    display: inline-block;
				    padding: 7px 14px;
				    text-decoration: none;
				    -webkit-transition: all 0.2s ease;
				    -moz-transition: all 0.2s ease;
				    -o-transition: all 0.2s ease;
				    -ms-transition: all 0.2s ease;
				    transition: all 0.2s ease;
				    &:hover {
				    	background-color: #c0392b;
				    	color:#fff;
				    }
				}
			}
			.title-reply {
				padding-top:10px;
				span {
					display: block;
				}
				.tl {
					font-size: 20px;
				    padding-left: 15px;
				    display: block;
				    height: 35px;
				    line-height: 35px;
				    border-left: 3px solid #008cd8;
				}
				a {
					font-size: 18px;
				}
			}
			.text-cmt {
				padding-top:15px;
				label {
					color:#636363;
				}
			}
		}		
}