.coverImageHolder {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  overflow: hidden;
  background: #000;
  float: left;
  width: 100%;
  z-index: -1; }
  .coverImageHolder .cover {
    opacity: 0.7;
    position: relative; }
  .coverImageHolder img.bgImg {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -11%; }
  .coverImageHolder .padding-bottom30 {
    padding-bottom: 30px; }
  .coverImageHolder #header-cover-image {
    width: 100%;
    float: left;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 315px;
    z-index: -1; }
    .coverImageHolder #header-cover-image .title-text {
      float: right;
      position: inherit;
      margin-top: 1%;
      margin-bottom: 1%;
      color: #faf9f4;
      font-weight: bold;
      font-size: 22px;
      z-index: 6; }
    .coverImageHolder #header-cover-image .candidates i {
      padding-right: 5px; }
    .coverImageHolder #header-cover-image .recruitment i {
      padding-right: 5px; }
    .coverImageHolder #header-cover-image .tab-wrapper ul {
      overflow: hidden;
      margin: 0px;
      list-style-type: none;
      width: 100%;
      padding-left: 0; }
    .coverImageHolder #header-cover-image .tab-wrapper ul li {
      float: left;
      width: -webkit-calc(30%);
      width: calc(49%); }
    .coverImageHolder #header-cover-image .tab-wrapper ul li.active {
      background: #fff;
      border-radius: 5px 5px 0 0; }
    .coverImageHolder #header-cover-image .tab-wrapper ul li.active a {
      color: #2980b9; }
    .coverImageHolder #header-cover-image .tab-wrapper ul li a {
      color: #484848;
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      border-radius: 5px 5px 0 0;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: rgba(255, 255, 255, 0.6);
      text-align: center; }
    .coverImageHolder #header-cover-image .tab-content {
      position: absolute;
      left: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 10px; }
      .coverImageHolder #header-cover-image .tab-content h3.resume-section-subtitle {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px; }
      .coverImageHolder #header-cover-image .tab-content .search-select {
        padding-top: 30px;
        border-top: 1px solid #ccc; }
      .coverImageHolder #header-cover-image .tab-content .search-home {
        height: 40px;
        margin-bottom: 20px; }
        .coverImageHolder #header-cover-image .tab-content .search-home input#fullName {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding-left: 15%; }
        .coverImageHolder #header-cover-image .tab-content .search-home select {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding-left: 15%;
          font-size: 16px;
          font-weight: 600;
          color: #555; }
        .coverImageHolder #header-cover-image .tab-content .search-home button.btn.btn-primary.btn-lg {
          width: 100%; }
        .coverImageHolder #header-cover-image .tab-content .search-home i.fa.fa-pencil-square-o, .coverImageHolder #header-cover-image .tab-content .search-home i.fa.fa-map-marker, .coverImageHolder #header-cover-image .tab-content .search-home i.fa.fa-cog {
          position: absolute;
          padding-left: 7px;
          padding-top: 8px;
          font-size: 22px;
          color: #555; }

.tab-wrapper-list .list-resum i, .tab-wrapper-list .list-job i {
  padding-right: 5px; }

.tab-wrapper-list ul {
  overflow: hidden;
  margin: 0px;
  padding: 10px;
  list-style-type: none;
  width: 100%; }

.tab-wrapper-list ul li {
  float: left;
  width: -webkit-calc(49%);
  width: calc(49%); }

.tab-wrapper-list ul li.active {
  background: #fff;
  border-radius: 5px 5px 0 0; }

.tab-wrapper-list ul li.active a {
  color: #2980b9; }

.tab-wrapper-list ul li a {
  color: #484848;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  border-radius: 5px 5px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }

li.list-resum {
  margin-right: 5px; }

ul.tab-list {
  margin-top: -51px; }

.home .coverImageHolder {
  background-image: none;
  background-size: cover;
  height: 407px;
  background-color: #ecf0f1;
  background-position: center;
  background-repeat: no-repeat; }

/*# sourceMappingURL=search_top_home.css.map */
