#nav_icon {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  cursor: pointer;
  width: 45px; }

@media (min-width: 769px) {
  #wapper-menu {
    display: none; } }
#wapper-menu {
  background-color: #262626;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.pfix {
  position: fixed !important; }

@media screen and (max-width: 768px) {
  #wapper-menu .nav-menu {
    -webkit-overflow-scrolling: touch;
    -ms-transform: translate(-124%, 0);
    -webkit-transform: translate3d(-124%, 0, 0);
    -moz-transform: translate3d(-124%, 0, 0);
    -ms-transform: translate3d(-124%, 0, 0);
    -o-transform: translate3d(-124%, 0, 0);
    transform: translate3d(-124%, 0, 0);
    position: absolute;
    top: 48px;
    left: 0px;
    width: 260px;
    background: #262626;
    transition: all .25s;
    z-index: 9999; }

  #wapper-menu .move-right {
    -webkit-overflow-scrolling: touch;
    -ms-transform: translate(0%, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition: all .25s; } }
#wapper-menu .nav-menu {
  margin: 0px;
  padding: 0px;
  float: left; }

#wapper-menu .box-menu {
  height: 50px;
  position: relative; }

#wapper-menu .box-menu .logo_yuna {
  width: 150px;
  display: inline-block;
  position: relative;
  top: -10px; }

#wapper-menu .box-menu .logo_yuna img {
  width: 100%; }

#wapper-menu .box-menu .host-new {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  width: 100px;
  padding-top: 15px;
  cursor: pointer; }

#wapper-menu .box-menu .host-new .new {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px; }

#wapper-menu .box-menu .search-input {
  position: absolute;
  top: -2px;
  right: 55px;
  width: 70%;
  display: none; }

@media (max-width: 340px) {
  #wapper-menu .box-menu .host-new {
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
    width: 70px; }

  #wapper-menu .box-menu .search-mb {
    padding-right: 5px; } }
@media (max-width: 768px) {
  #wapper-menu .box-menu .search-input {
    width: 88%; } }
@media (max-width: 767px) {
  #wapper-menu .box-menu .search-input {
    width: 78%; } }
@media (max-width: 375px) {
  #wapper-menu .box-menu .search-input {
    width: 70%; } }
#wapper-menu .box-menu .search-input input {
  height: 42px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px; }

#wapper-menu .box-menu .host-new > .fa-sort-desc {
  font-size: 18px; }

#wapper-menu > .demo > .search-mb > .search-input {
  display: block; }

#wapper-menu .box-menu .search-mb {
  float: right;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  line-height: 50px;
  padding-right: 20px; }

@media only screen and (max-width: 768px) {
  ul.nav-menu.clearfix.move-right {
    list-style-type: none; } }
ul.nav-menu.clearfix.move-right {
  list-style-type: none; }

#wapper-menu .nav-menu li.login_m {
  border-bottom: 1px solid #FFF;
  background: none;
  padding-left: 5px; }

#wapper-menu .nav-menu > li {
  width: 100%;
  float: left;
  position: relative;
  cursor: pointer; }

#wapper-menu .nav-menu li.login_m a.dangnhap {
  float: left;
  margin: 15px 8px;
  padding: 5px 15px;
  line-height: 20px;
  border: 1px #ddd solid;
  border-radius: 4px; }

#wapper-menu .nav-menu li.login_m a.dangky {
  float: left;
  margin: 15px 5px;
  padding: 5px 25px;
  line-height: 20px;
  border: 1px #ddd solid;
  background-color: #ddd;
  color: #000;
  border-radius: 4px; }

#wapper-menu .nav-menu > li a {
  margin-left: 5px;
  font-family: Helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  display: block;
  font-size: 14px; }

#wapper-menu .nav-menu .item-child > a.count {
  line-height: 40px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-top: 10px; }

#wapper-menu .nav-menu li span.wrapper-icon {
  width: 34px;
  position: absolute;
  top: 3px;
  text-align: center; }

#wapper-menu .nav-menu li span.count {
  display: block;
  position: absolute;
  top: 25px;
  left: 14px;
  line-height: 35px;
  color: white;
  padding-left: 20px; }

#wapper-menu .down-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 53px;
  cursor: pointer;
  background: url("../images/down.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px 25px; }

#wapper-menu .down-icon1 {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 53px;
  cursor: pointer;
  background: url("../images/tru.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 3px; }

#wapper-menu .down-icon {
  display: block; }

#wapper-menu .down-icon1 {
  display: block; }

#wapper-menu .nav-menu .pdbottom10 {
  padding-bottom: 10px; }
#wapper-menu .nav-menu .item-child {
  border-bottom: 1px solid #1b1b1b; }
  #wapper-menu .nav-menu .item-child .title {
    font-size: 16px;
    text-transform: capitalize; }
    #wapper-menu .nav-menu .item-child .title i {
      padding-right: 5px;
      font-size: 20px;
      color: #008cd8;
      padding-top: 15px; }
  #wapper-menu .nav-menu .item-child .total {
    color: #9E9E9E;
    padding-left: 30px; }
  #wapper-menu .nav-menu .item-child .sub-item {
    background: #000;
    display: none;
    padding-left: 0; }
    #wapper-menu .nav-menu .item-child .sub-item .sub-title {
      font-size: 16px;
      text-transform: capitalize; }
    #wapper-menu .nav-menu .item-child .sub-item .sub-total {
      font-size: 14px; }
    #wapper-menu .nav-menu .item-child .sub-item > li {
      padding-left: 30px;
      padding-top: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #1b1b1b;
      margin-bottom: 2px; }
  #wapper-menu .nav-menu .item-child .active {
    display: block; }

#search-2 {
  display: none; }

/*# sourceMappingURL=header.css.map */
