.header-top {
	height: 30px;
    background: #008cd8;
    color: #fff;
    line-height: 30px;
    .text-left {
    	span {

    		padding:0 10px;
    	}
    }
    .text-right {
    	a {
    		color:#fff;
    		text-decoration: none;
    		padding:0 10px;
    		&:hover {
    			color:#303030;
    		}
    	}
    }
}

.wrap-header {
	    background-color: #262626;
		position: relative;
	    .header {
	    	
	    	img {
				width:100%;
				margin-bottom: 0px;
	    	}
	    }
	    .form-search {
	    	padding-top:20px;
	    	width: 80%;
	    	.input-group {
		    	input {
		    		height: 40px;
		    	}
	    	.btn-search {
	    		height: 40px;
	    		background-color: #008cd8;
	    		i {
	    			font-size: 20px;
	    			color: #fff;

	    		}
	    		
	    	}
	 	   }

	    }
	    .wrap-right1 {
			    float: right;
			    margin-top: 20px;
			}
	  .wrap-right1 ul {
			    text-align: center;
			    list-style-type: none;
			    padding: 0px;
			    li{
			    	width: 120px;
			    	position: relative;
			    	>.sub--{
			    	    display: none;
					    position: absolute;
					    text-align: left;
					    z-index: 1;

			    }
			    }
			    
			     a.btn.btn-primary {
			    padding: 7px 25px 8px 25px;
			}
			ul.sub-- li{
			    height: 40px;
			    line-height: 40px;
			    text-decoration: none;
			    display: block;
			    background: #428bca;
			    padding-left: 16px;
			    border-top: 1px solid;
			    a {
				    color: #fff;
				    
				}

			}
			ul.sub-- li:hover{
				background-color:#357ebd;
			   
			    a{
			    	color: black;
			    	text-decoration: none;

			    }
			}
			}
			 .wrap-right1 ul li:hover .sub--{
			 	display: block;
			 }


	  


	    .wrap-right {
	    	position: relative;
	    	height: 45px;
	    	text-transform: uppercase;
	    	color: #fff;
	    	font-size: 20px;
	    	padding-top:20px;
	    	 width: 145px;
    		float: right;
	    	>.text-dangtin {
	    		background-color: #008cd8;
				padding: 12px 30px;
			    height: 40px;
			    padding-top: 10px;
	    	}
	    	.lst-menu {
	    		padding-left:0;
	    		list-style-type: none;
	    		li a {
	    			text-decoration: none;
	    			color:#fff;
	    			font-size: 16px;
    				padding: 10px;
	    		}
	    	}
	    }
	    .main-menu {
	    	margin-bottom: -15px;
	    	.menu {
	    		position:relative;
	    		padding-left: 0;
	    		>li {
	    			display: inline-block;

	    			&:hover {
	    				.sub-menu  {
	    					display:block;
	    					padding-top: 10px;
	    				}
	    				/* >a {
	    				 	color: #2980b9;
	    				 	i{
	    				 		color: #2980b9;
	    				 	}
	    				}   */ 				
	    			}	    			
	    			>a {
	    				text-decoration: none;
	    				font-size: 13px;
    					text-transform: uppercase;
    					color: #fff;
    					padding:15px 10px;
    					white-space: nowrap;
					    display: block;
					    overflow: hidden;
					    text-overflow: ellipsis;
					        font-weight: bold;

    					&:hover{
    						background-color:#008cd8;

    					}
    					>i {
    						padding-right: 5px;
    						padding-left:5px;
    					}
	    			}
	    		}
	    		.sub-menu {
					position: absolute;
				     display: none; 
				     top:48px;
				    width:45%;
				    padding-left:0;
				    
				    background: #008cd8;
				    z-index: 100;
				    > .item-sub{
				    	width: 49%;
					    display: inline-block;
					    padding: 5px;
					    padding-left: 33px;
					    text-overflow: ellipsis;
    					overflow: hidden;			

				    	a {
				    		font-weight: 600;
							color:#fff;
							text-decoration:none;
							text-transform:capitalize;
							font-size: 14px;
							margin-bottom: 3px;
							white-space: nowrap;
							width: 100%;
    						float: left;
    						text-overflow: ellipsis;
    						overflow: hidden;
							   
				    	}
				    	&:hover {
				    		a {
				    			color:#303030;
				    		}
				    	}
				    }
				    >.sub-all {
				    	text-align:center;
				    	width:100%;
				    	padding-right: 33px !important;
				    }
	    		}
	    		.sub-menu-1{
	    			width:400px;

	    		}
	    	}

	    }
}
.text-left a {
    color: white;
}

.searchwp-live-search-result p {
padding: 5px;
border-bottom: solid 1px gainsboro;
}
.listting_job .logo img, .listting_company .logo img  {
padding-left: 5px;
}
ul.sub-menu-pack{
text-align: left;
position: absolute;
top: 100%;
z-index: 1000;
min-width: 75px;
list-style: none;
font-size: 13px;
float: none;
padding:10px;
margin-left: 48%;
-webkit-box-shadow: none;
box-shadow: none;
border: 0;
border-radius: 0;
background: 0 0;
display: none;
background: #2a6496;
border-top: 1px solid rgba(0,0,0,.1);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}
#show-menu-package:hover ul {display: block !important;}
/*===========================================*/
.wrap-header .main-menu .menu .sub-menu > .item-sub.menu-blog-content {
    width: 100%;
    display: inline-block;
    padding: 5px;
    float: left;
    padding-left: 33px;
    text-overflow: ellipsis;
    overflow: hidden;
}	

.wrap-header .main-menu .menu .sub-menu-1.menu-blog {
    width: 266px;
    padding: 0px;
    height: 72px;
    list-style-type: none;
    padding-top: 0px !important;
}
li.item-sub.menu-blog-content {
    height: 36px;
    border-bottom: 1px solid #eee;
}
ul.sub-menu1 {
    position: absolute;
    left: 266px;
    padding: 0px;
    top: 0;
    background: #008cd8;
    display: none;
    width: 266px;
    list-style-type: none;
    padding-top: 0px !important;
}
ul.sub-menu2 {
    position: absolute;
    left: 266px;
    padding: 0px;
    background: #008cd8;
    display: none;
    width: 266px;
    top: 36px;
    list-style-type: none;
    padding-top: 0px !important;
}

.main-menu ul.sub-menu.sub-menu-1.menu-blog li.item-sub.menu-blog-content:hover .sub-menu1{
	    display: block;
}
.main-menu ul.sub-menu.sub-menu-1.menu-blog li.item-sub.menu-blog-content:hover .sub-menu2{
	    display: block;
}
li.item-sub.menu-blog-content {
    padding: 5px;
    padding-left: 33px;
}
li.item-sub.menu-blog-content:hover {
    background: #1f6797;
    color: white;
}
li.item-sub.menu-blog-content a:hover {
   
    color: white !important;
}
.wrap-header .main-menu .menu .sub-menu > .item-sub.menu-blog-content:hover a {
    color: #ffffff;
}
ul.sub-menu2 li.item-sub.menu-blog-content ,ul.sub-menu1 li.item-sub.menu-blog-content {
    height: 36px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}