.listnews {
        span.title {
            width: 100%;
            float: left;
        }
    .listnews-sub {
        h3 {
            background: #008cd8;
            color: white;
            padding: 6px;
            font-size: 18px;
        }
        ul {
            padding: 0;
            width: 100%;
            float: left;
        }
        li.item {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6));
            padding-bottom: 3px;
            padding-top: 1px;
            float: left;
            width: 100%;
            margin-bottom: 5px;
            list-style: none;
            .content-listnews {
                line-height: 17px;
                text-align: justify;
                margin-right: 8px;
                a {
                color: #555;
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;
                
                &:hover{
                color:#428bca;
                }
            }
            }
        }
        .img-listnews {
            padding: 4px;
            float: left;
            margin-right: 5px;
            img.right-widget-image {
                max-width: 80px;
                max-height: 60px;
                height: 100%;
            }
        }
    }
}
