.my-account {
	.remove-padding15 {
		padding-left:0;
		padding-right:0;
	}
	.remove-margin15 {
		margin-left:0;
		margin-right:0;
		border:1px solid #ccc;
	}
	.border-bt {
		border-bottom: 1px solid #ccc;
		margin-left:0;
		margin-right:0;
		
	}
	a {
		text-decoration: none;
	}
	.author-avata {
		padding-top:15px;
		width:140px;
		padding-bottom: 15px;
		img {
			width:100%;
			border-radius:50%;
		}	
	}
	.account-infor {
		padding-top:15px;
		h1 {
			    color: #008cd8;
			    font-size: 25px;
			    font-weight:bold;
		}
		h3 {
			font-size: 18px;
			color: #484848;
		}
		span {
			    font-size: 12px;
    			color: #2980b9;
		}
		.list-ct {
			line-height: 35px;
			padding-left:0;
			padding-bottom: 15px;
   			
			.lst-setting {				
					color: #2980b9;
					font-size: 18px;
					padding:0 15px;
					&:first-child {
						padding-left:0;
					}
					&:hover {
						color:#2a6496;
					}
				
				i {
					padding-right: 5px;
				}
			}
		}
	}

	.box-company{
		border-bottom: 1px solid #ecf0f1;
		.ac-title {
			font-size: 35px;
			display: inline-block;
			a {
				color:#008cd8;
				font-weight: bold;
			}
			i {
				padding-right: 10px;
				font-size: 30px;
			}
		}
		.add-company {
			font-size: 16px;
			
			i {
				padding-right: 10px;
				font-size: 30px;
			}
			.text-r {
				float:right;
				padding-top:20px;
			}
		}
		
	}
	.table>thead>tr>th {
		    border-bottom:none;
	}
	.box-table {
		    border: 4px solid #ecf0f1;
		.bkground {
			background: #ecf0f1;
		}
		.text-center {
			 i {padding:0 20px;}
		}
		.tooltip.top {
			font-size: 20px;
		}		
		
	}
	.account-setting {
		padding-top: 15px;
		padding-bottom:15px;
		display:none;
		.tt-text {
	    	padding-left:15px;
	    	padding-right:15px;
	    	padding-bottom: 15px;
    		border-bottom: 1px solid #ccc;
    		color:#484848;
    		@media(max-width:320px){
    			padding-left:0;
    			padding-right:0;
    		}
	    }
	.fr-input {
		margin: 5px 0px;
	    input {
	    	height: 40px;
    		padding-left: 35px;
    		font-size:18px;
    		border-left: 4px solid #008cd8;
	    }
	    select {
	    	padding-left:35px;
	    	color:#999999;
	    	font-size:18px;
	    	border-left: 4px solid #008cd8;
	    	
	    }
    	i {
    		position: absolute;
		    top: 10px;
		    left: 22px;  
		    display: block;
		    color: #008cd8;
		    font-size: 20px;
    	}
	}
	.txt-lb {
		padding-top:10px;
		color: #666666;
	    font-size: 18px;
	    font-weight: 500;
	}
		.form-control {
					height: 40px;
					&:focus {
						background: #ecf0f1;
					}
	}
	.btn-dn {
		width:100%;
		height:40px;
		font-size:18px;
		margin-bottom:15px;
		}
	}
	.setting_user_vip {
		text-align: center;
		.us-title {
			text-align: center;
			color: rgb(0, 140, 216);
			font-weight: bold;
			font-size: 25px;
			i {
				padding-right: 10px;
				font-size: 30px;
			}
		}
		.txt-full {
			color: #484848;
			font-size: 14px;
		}
		.bbtop {
			border: 1px solid #ccc;
  			margin-top: 30px;
  			border-top: 5px solid #008cd8;
		}
		.fr-user-vip {
			padding-top: 20px;
			.lst_content{
				padding-left:0;
				list-style-type: none;
			}
		}

	}
}
.account-settings {
    padding: 20px;
    border: 1px solid #eee;
}
.my-account {
    background: #ecf0f1;
}

/*-------------------TAI KHOAN VIP-----------*/
table#table {
    width: 100%;

}
#table th, #table td {
    vertical-align: top;
    padding: 5px 10px;
    border: 1px solid #fff;
}
#table tr {
        background: #eee;
}
div#show_user_package h1.resume-section-title {
    font-size: 25px;
}
div#show_user_package p {
    text-align: center;
}
p.price-list-stars {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.select-packge.select-wrapper {
    text-align: center;
}
select.package {
    width: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#F6F6F6));
}
div#Diamond {
    padding-left: 20px;
    padding-right: 20px;
}
p.name_package {
    font-size: 18px !important;
    font-weight: bold;
    color: #008cd8;
    text-align: center;
}
span.star_package {
    width: 100%;
    text-align: center;
}

								
div#Diamond {
border-top: 5px solid #008cd8 !important;
display: inline-table !important;
margin-top: 2% !important;
border: 1px solid #e1e1e1;
}
div#Diamond ul {
list-style-type: none  !important;
margin-right: 16px  !important;
padding-left: 16px;
}
div#Diamond a.button.sign-up {

text-align: center;
width: 100% !important;
padding: 13px  !important;
background-color: #008cd8  !important;
border: 1px solid #e1e1e1  !important;
-webkit-border-radius: 3px  !important;
-moz-border-radius: 3px  !important;
-ms-border-radius: 3px  !important;
-o-border-radius: 3px  !important;
border-radius: 3px  !important;
text-decoration: none  !important;
text-transform: uppercase  !important;
font-weight: 600  !important;
color: white  !important;
display: block  !important;
margin-bottom: 15px  !important;
font-size: 15px  !important;
clear: left  !important;
letter-spacing: 1.5px  !important;
-webkit-transition: all 0.2s ease-in-out  !important;
-moz-transition: all 0.2s ease-in-out  !important;
-ms-transition: all 0.2s ease-in-out  !important;
-o-transition: all 0.2s ease-in-out  !important;
transition: all 0.2s ease-in-out  !important;
}
div#Diamond li {
font-weight: 600  !important;
font-size: 16px  !important;
text-align: left  !important;
margin-bottom: 20px  !important;
}
div#Diamond span {
olor: #9e9e9e  !important;
display: inline-block  !important;
margin-left: 50px  !important;
font-weight: 400  !important;
font-size: 14px  !important;
float: right  !important;
}
div#Diamond span.amount {
font-size: 20px  !important;
font-weight: 600  !important;
width: 74% !important;
}
div#Diamond .price {
font-size: 26px  !important;
width: auto  !important;
margin-bottom: 35px  !important;
margin-top: 17px  !important;
}

.table.show_user_package {
    text-align: center;
}
#show_vip_package h1.resume-section-title ,#show_user_package h1.resume-section-title {
    text-align: center;
    color: #008cd8;
    font-size: 25px;
}
#show_vip_package p {
    text-align: center;
}
#show_vip_package .table {
    text-align: center;

}
select.package_up {
    width: 100%;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#F6F6F6));

}
.form-register {
    width: 100%;
    float: left;
}
.account-infor {
    width: 100%;
    float: left;
}
span.my-account-header-settings {
    float: left;
    margin-right: 5px;

a.button-ag-full {
    font-size: 18px;
    background-color: #1f8cd8;
    line-height: 28px;
    padding: 10px;
    margin-top: 30px;
    float: right;
    color: #ffffea;
    border-radius: 5px;
    	
}
a.button-ag-full:hover {
    background-color: #1f6797;
}
.button-ag-full i {
		    font-size: 21px;
		    padding-right: 7px;
		    top: -1px;
		}

span.my-account-header-settings-link {
    float: right;
}

}
div#menu4 {
    text-align: center;
}
 .table {
    text-align: center;
}
