.register-front {
	    padding-bottom: 20px;
	    .remove-padding-15 {
	    	padding-left:0;
	    	padding-right:0;
	    }
	    .pd-r-15 {
	    	padding-right:15px;

	    }
	    .pd-l-15 {
	    	padding-left:15px;
	    }
	.rg-employer {
		color:#2980b9;
		background-color:#fff;
		
		h3 {
			padding-left:40px;
			font-size:30px;
			padding-top:15px;
			i {
				font-size:34px;
				padding-right:5px;
			}
		}
		.rg-infor {
			padding:20px 30px;
			@media(max-width:1024px){
					.title-home {
						font-size:20px;
					}
				}
			.title-home {
				color:#484848;
				font-size:24px;
				
			}
		}
		.btn-register {
		padding-left: 30px;
   		padding-bottom: 15px;
		.btn-rg {
			background-color: #008cd8;
  			font-size: 18px;
    		padding: 13px;
    		text-transform: uppercase;
    		i {
    			padding-right:5px;
    		}
    		&:hover {
    			background-color:#1f6797;
    		}
		}
	}
		
	}
	.rg-uv {
		h3 {
			color: #16a085;
		}
		.rg-employer {
			.btn-register {
				.btn-rg {
					background-color: #16a085;
					&:hover {
						background-color:#128C74;
					} 
				}
			}
		}
		
	}
	
}