img.bgImg {
  width: 100%; }

.banner-top {
  float: left;
  width: 100%;
  height: 550px;
  z-index: -1; }
  .banner-top h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px; }
  .banner-top h2 {
    font-size: 24px;
    color: white; }

section#banner-top {
  text-align: center;
  width: 100%;
  top: 40%;
  height: auto;
  border: 2px solid #ffffff;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); }

span.banner-hello {
  position: absolute;
  top: -90%;
  width: 140px;
  height: 140px;
  left: 50%;
  margin-left: -70px;
  background-color: #fff;
  color: #16a085;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 140px;
  font-family: "Custom Font" !important;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px; }

.banner-hello .job_remuneration_per {
  font-size: 12px;
  line-height: 16px;
  color: #e74c3c;
  float: left;
  width: 100%; }

.banner-hello .job_remuneration {
  font-size: 24px;
  line-height: 36px;
  color: #e74c3c;
  float: left;
  width: 100%; }

.banner-hello .job_work_type {
  font-size: 12px;
  line-height: 16px;
  color: #e74c3c;
  float: left;
  width: 100%;
  margin-top: 40px; }

span.cover-resume-breadcrumbs {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -50px;
  left: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Custom Font" !important; }
  span.cover-resume-breadcrumbs a {
    color: #ffffff;
    text-decoration: none; }

.job-description {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  text-align: justify;
  border-radius: 5px; }
  .job-description h3 {
    margin-top: 0px;
    color: #16a085; }

.info-details {
  width: 100%;
  float: left;
  height: auto;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px; }
  .info-details span.job-info-details {
    float: left;
    width: 100%;
    margin-bottom: 10px; }
    .info-details span.job-info-details span.job-info-id {
      width: 46%;
      float: left; }
    .info-details span.job-info-details i.fa {
      margin-right: 10px; }

.resume-skills {
  width: 100%;
  float: left;
  height: auto;
  background: white;
  padding: 20px; }
  .resume-skills h3 {
    margin-top: 0px;
    color: #16a085;
    text-align: center;
    font-size: 28px; }
    .resume-skills h3 i.fa {
      margin-right: 10px; }
  .resume-skills h4.resume-section-subtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #666666; }

span.main-skills-item {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  border-top: solid 1px #ecf0f1;
  padding-top: 50px;
  margin-bottom: 30px; }

span.main-skills-item-title {
  float: left;
  width: 40%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-right: 30px;
  text-transform: uppercase;
  color: #16a085;
  font-size: 16px;
  line-height: 24px; }

.main-skills-item-bar {
  float: left;
  width: 40%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top: 2px;
  overflow: hidden;
  background: #ecf0f1; }

.main-skills-item-note {
  color: #999999;
  margin-bottom: 50px; }

.resume-required-request {
  border-top: solid 1px #ecf0f1;
  padding-top: 50px; }
  .resume-required-request span.main-skills-item {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    padding: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px; }
  .resume-required-request span.main-skills-item-title {
    color: #999; }

.divider {
  float: left;
  width: 100%;
  display: inline-block;
  border-top: solid 1px #ecf0f1;
  margin-top: 20px;
  margin-bottom: 20px; }

.languages {
  width: 48%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  float: left;
  position: relative;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px; }

.languages-sub {
  margin-left: 30px;
  width: 48%;
  width: -webkit-calc(50% - 15px);
  width: calc(40% - 15px);
  float: left;
  position: relative;
  margin-bottom: 30px; }

span.main-skills-item-title-language {
  float: left;
  width: auto;
  text-transform: uppercase;
  color: #16a085;
  font-size: 16px;
  line-height: 24px; }

.main-skills-item-title-language.native-language {
  color: #666666;
  margin-right: 5px; }

.main-skills-item-title-language.native-small-language {
  color: #999; }

.full {
  margin-left: 0;
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px; }

span.main-skills-item-title-language.native-language-all {
  color: #666666; }

.main-skills-item-language .full.animate, .one_half .main-skills-item-title-language .fa.animate {
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.one_half {
  width: 48%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  float: left;
  position: relative;
  margin-bottom: 30px; }

.main-skills-item-title-language .fa {
  margin-right: 7px;
  color: #16a085;
  font-size: 16px;
  line-height: 24px; }

span.main-skills-item-title-language.native-small-language-all {
  color: #999; }

.comment {
  margin-left: 30px;
  width: 48%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  float: left;
  position: relative;
  margin-bottom: 30px; }

.salary-benefits {
  width: 100%;
  height: auto;
  float: left;
  background: white;
  margin-top: 30px;
  padding: 20px; }

h3.resume-section-title {
  margin-top: 0px;
  color: #16a085;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px; }
  h3.resume-section-title i.fa {
    margin-right: 10px; }

.job-salary-benefits {
  position: absolute;
  top: 0;
  width: 140px;
  height: 140px;
  left: 50%;
  margin-left: -70px;
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 140px;
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  z-index: 999; }

.benefits-block {
  position: relative;
  height: 140px;
  margin-bottom: 60px; }

.job-salary-benefits-divider {
  border-bottom: solid 1px #ecf0f1;
  position: absolute;
  top: 0;
  margin-top: 70px;
  width: 100%;
  z-index: -1; }

.job-salary-benefits .job_work_type {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  float: left;
  width: 100%;
  margin-top: 40px; }

.job-salary-benefits .job_remuneration {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  float: left;
  width: 100%; }

.job-salary-benefits .job_remuneration_per {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  float: left;
  width: 100%; }

.job-salary-benefits-divider {
  border-bottom: solid 1px #ecf0f1;
  position: absolute;
  top: 0;
  margin-top: 70px;
  width: 100%;
  z-index: 1; }

.one_fourth {
  width: 23%;
  width: -webkit-calc(100%);
  width: calc(100%);
  float: left;
  position: relative;
  margin-bottom: 30px; }

.work-experience-org-name {
  float: left;
  width: 100%;
  text-transform: uppercase;
  color: #16a085;
  font-size: 16px;
  line-height: 24px; }

.job-experience-holder .one_fourth {
  border-top: solid 1px #16a085;
  padding-top: 25px; }

.job-experience-holder .three_fourth.animate {
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  margin-top: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.job-experience-holder .three_fourth {
  border-top: solid 1px #ecf0f1;
  padding-top: 25px;
  margin-top: 100px;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

.three_fourth {
  margin-left: 30px;
  text-align: justify;
  width: 100%;
  width: -webkit-calc(100%);
  width: calc(100%);
  float: left;
  position: relative;
  margin-bottom: 30px; }

.one_third {
  width: 31%;
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 30px; }

.work-experience-first-block-content, .work-experience-second-block-content {
  float: left;
  width: 100%;
  width: -webkit-calc(100%);
  width: calc(100%); }

.job-experience-holder .three_fourth .work-experience-period {
  color: #666666; }

.work-experience-period {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
  width: -webkit-calc(100% - 36px);
  width: calc(100% - 36px);
  float: left; }

.work-experience-notes {
  font-size: 14px;
  color: #999999;
  width: 100%;
  float: left; }

.work-experience-third-block-content {
  float: left;
  width: 100%; }

.two_third {
  width: 62%;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 30px; }

.company-information {
  width: 100%;
  height: auto;
  float: left;
  background: white;
  margin-top: 30px;
  padding: 20px; }

.job-company-desc img {
  max-width: 50px;
  height: auto; }

.job-company-desc h2 {
  margin: 0;
  margin-top: 30px;
  font-weight: bold;
  color: #2980b9; }

.company-est-year-block, .job-offers-post-badge {
  display: inline-block;
  background-color: #16a085;
  border: solid 2px #16a085;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 200px;
  width: 180px;
  margin: 10px; }

.company-est-year-block .fa {
  float: left;
  width: 55px;
  height: 50px;
  background: #fff;
  color: #16a085;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.company-est-year-block .experience-period {
  float: right;
  margin: 4px 13px 0 13px;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff; }

.company-est-year-block .experience-subtitle {
  float: right;
  margin: 0px 13px 0 13px;
  font-size: 16px;
  line-height: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff; }

.company-team-block {
  display: inline-block;
  background-color: #e74c3c;
  border: solid 2px #e74c3c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 140px;
  margin: 10px; }

.company-team-block .fa {
  float: left;
  width: 55px;
  height: 50px;
  background: #fff;
  color: #e74c3c;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.company-team-block .experience-period {
  float: right;
  margin: 4px 13px 0 13px;
  font-size: 16px;
  line-height: 24px;
  min-width: 30px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff; }

.company-team-block .experience-subtitle {
  float: right;
  margin: 0px 13px 0 13px;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff; }

.company-jobs-block {
  display: inline-block;
  background-color: #34495e;
  border: solid 2px #34495e;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  max-width: 120px;
  margin: 10px; }

.company-jobs-block .fa {
  float: left;
  width: 55px;
  height: 50px;
  background: #fff;
  color: #34495e;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.company-jobs-block .experience-period {
  float: right;
  margin: 4px 13px 0 13px;
  font-size: 16px;
  line-height: 24px;
  min-width: 30px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff; }

.company-jobs-block .experience-subtitle {
  float: right;
  margin: 0px 13px 0 13px;
  font-size: 12px;
  line-height: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff; }

.company-services-icon {
  display: inline-block;
  background-color: #16a085;
  color: #fff;
  width: 70px;
  text-align: center;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  margin-bottom: 20px; }

.company-services-icon .fa {
  font-size: 32px;
  color: #fff;
  line-height: 70px;
  width: 100%; }

.company-services-devider {
  width: 100%;
  border-bottom: solid 1px #ecf0f1;
  z-index: -1;
  margin-top: -60px;
  float: left; }

.company-services-title {
  float: left;
  width: 100%;
  text-transform: uppercase;
  color: #16a085;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px; }

.company-services-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #999999;
  width: 100%;
  float: left; }

.company-information .col-md-4 {
  text-align: center; }

.information {
  width: 100%;
  height: auto;
  float: left;
  background: white;
  margin-top: 30px;
  padding: 20px; }
  .information h2.resume-section-title {
    color: #16a085;
    margin-top: 0px;
    margin-bottom: 30px; }
  .information i.fa {
    margin-right: 10px; }

#resume-contact {
  float: left;
  width: 100%;
  position: relative; }

#contact {
  float: left;
  width: 100%;
  position: relative;
  z-index: 9; }

#resume-contact .contact-name {
  float: left;
  width: 47%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-bottom: 30px; }

#resume-contact .contact-name input {
  width: 100%;
  margin-bottom: 0px; }

#resume-contact .contact-email {
  float: left;
  width: 47%;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  margin-left: 30px;
  margin-bottom: 30px; }

#resume-contact .contact-email input, #resume-contact .contact-test input {
  width: 100%;
  margin-bottom: 0px; }

#resume-contact .contact-message {
  float: left;
  width: 100%; }

#resume-contact textarea#message {
  width: 100%;
  background: #f7f8fc none no-repeat;
  border: 1px solid #ecf0f1; }

#resume-contact .contact-test {
  float: left;
  width: 100%;
  margin-right: 50%;
  margin-bottom: 30px; }

#resume-contact input {
  height: 40px;
  padding-left: 5px;
  background: #f7f8fc none no-repeat;
  border: 1px solid #ecf0f1; }

.resume-contact-info .fa {
  width: 34px;
  text-align: center;
  float: left;
  color: #16a085;
  font-size: 16px !important;
  margin-top: 4px; }

span.resume-contact-info {
  float: left;
  width: 100%;
  margin-bottom: 20px; }

.resume-contact-info span {
  width: 88%;
  width: -webkit-calc(100% - 44px);
  width: calc(100% - 44px);
  float: right;
  font-size: 16px;
  line-height: 24px;
  color: #999; }

.listting-more {
  width: 100%;
  height: auto;
  float: left;
  background: white;
  padding: 20px; }

h2.resume-section-title {
  color: #16a085;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px; }
  h2.resume-section-title i.fa {
    margin-right: 10px; }

h3.info-details {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 20px;
  color: #16a085; }

.info-candidate {
  float: left;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center; }
  .info-candidate h1.resume-author-name {
    font-size: 30px;
    color: #16a085; }
  .info-candidate h2.resume-author-subtitle {
    margin-top: 0px;
    font-size: 24px;
    color: #999999; }
  .info-candidate .resume-experience-years-block {
    float: left;
    background-color: #16a085;
    border: solid 2px #16a085;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    max-width: 45%;
    width: 45%; }
  .info-candidate .resume-experience-years-block .fa {
    float: left;
    width: 27%;
    height: 50px;
    background: #fff;
    color: #16a085;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .info-candidate .resume-experience-years-block .experience-period {
    float: right;
    margin-right: 2px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Custom Font" !important;
    text-transform: uppercase;
    color: #fff; }
  .info-candidate .resume-experience-years-block .experience-subtitle {
    float: right;
    margin-right: 4px;
    font-size: 10px;
    line-height: 14px;
    font-family: "Custom Font" !important;
    text-transform: uppercase;
    color: #fff; }
  .info-candidate .resume-expect-revenue-block {
    float: left;
    background-color: #e74c3c;
    border: solid 2px #e74c3c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    max-width: 45%;
    margin-left: 20px; }
  .info-candidate .resume-expect-revenue-block .fa {
    float: left;
    width: 27%;
    height: 50px;
    background: #fff;
    color: #e74c3c;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .info-candidate .resume-expect-revenue-block .experience-period {
    float: right;
    margin-right: 5px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Custom Font" !important;
    text-transform: uppercase;
    color: #fff; }
  .info-candidate .resume-expect-revenue-block .experience-subtitle {
    float: right;
    margin: 0px 13px 0 13px;
    font-size: 12px;
    line-height: 14px;
    font-family: "Custom Font" !important;
    text-transform: uppercase;
    color: #fff; }
  .info-candidate .years-revenue {
    width: 100%;
    float: left; }
  .info-candidate .resume-author-avatar {
    margin-bottom: 30px; }
    .info-candidate .resume-author-avatar img {
      border-radius: 140px; }

.academic-level {
  width: 100%;
  float: left;
  padding: 20px;
  text-align: center; }
  .academic-level .resume-section-title {
    color: #16a085;
    font-size: 30px;
    font-weight: bold; }
  .academic-level .resume-section-subtitle {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #666666; }
  .academic-level .education-institution-block.animate {
    margin-top: 0px;
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; }
  .academic-level .education-period-circle {
    display: inline-block;
    width: 130px;
    height: 130px;
    background-color: #16a085;
    color: #fff;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px;
    margin-bottom: 40px;
    position: relative; }
    .academic-level .education-period-circle .education-period-time {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
      width: 100%;
      float: left;
      text-align: center; }
    .academic-level .education-period-circle .education-period-time {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
      width: 100%;
      float: left;
      text-align: center; }
    .academic-level .education-period-circle .education-period-time {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
      width: 100%;
      float: left;
      text-align: center; }
  .academic-level .education-institution-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    float: left;
    text-align: center; }
  .academic-level .education-institution-faculty-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    float: left;
    text-align: center; }
  .academic-level .education-institution-location {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #999999;
    font-weight: bold;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 40px; }
  .academic-level .education-institution-location .fa {
    margin-right: 5px;
    color: #999999; }
  .academic-level .education-institution-notes {
    font-size: 14px;
    color: #999999;
    width: 100%;
    float: left;
    text-align: center; }
  .academic-level .education-period-time:first-child {
    margin-top: 38px; }

.work-experience {
  width: 100%;
  float: left;
  height: auto;
  background: white;
  padding: 20px; }
  .work-experience h2.resume-section-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; }
  .work-experience h3.resume-section-subtitle {
    text-align: center;
    font-size: 20px; }

.work-experience-holder {
  float: left;
  width: 100%; }

.work-experience-holder .work-experience-block:last-child {
  border-bottom: solid 1px #ecf0f1;
  margin-bottom: 50px; }

.work-experience-first-block, .work-experience-second-block {
  float: left;
  width: 25%; }

.work-experience-org-name {
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #16a085;
  font-size: 16px;
  line-height: 24px; }

.work-experience-job-title {
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif; }

.work-experience-first-block, .work-experience-second-block {
  float: left;
  width: 100%; }

.work-experience-period {
  font-size: 14px;
  color: #999999;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  width: -webkit-calc(100%);
  width: calc(100%);
  float: left; }

.work-experience-job-type {
  float: left;
  width: 100%;
  width: -webkit-calc(100%);
  width: calc(100%);
  text-transform: capitalize;
  color: #16a085;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px; }

.work-experience-third-block {
  float: left;
  width: 100%;
  text-align: justify; }

h3.resume {
  font-size: 20px;
  color: #fff; }

.company-introduction {
  background: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px; }

.job-offers-post {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top: solid 1px #ecf0f1; }

.job-offers-post-badge .job-offers-post-badge-amount {
  float: right;
  margin: 4px 3px 0 3px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Custom Font" !important;
  text-transform: uppercase;
  color: #fff; }

span.job-offers-post-badge-job-type {
  float: left;
  width: 86px;
  height: 50px;
  background: #fff;
  color: #16a085;
  /* font-size: 24px; */
  line-height: 50px;
  text-align: center;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.work-experience-holder a {
  font-size: 18px;
  text-decoration: none; }

.work-experience-holder span.job-location {
  float: left;
  width: 100%;
  color: #999999; }

.work-experience-holder span.job-time {
  margin-top: 24px;
  float: left;
  width: 100%;
  color: #999999; }

.work-experience-holder .one_third.first {
  margin-top: 24px; }

img.center-img-comp {
  max-width: 100px !important;
  max-height: 100px !important;
  width: 100px !important;
  border-radius: 50%; }

.col-xs-6-1 {
  width: 100%;
  margin-bottom: 20px; }

button.btn.btn-primary.btn-lg {
  margin-bottom: 30px; }

span.work-experience-second-block-content {
  text-align: center; }

p {
  text-align: justify; }

.information-company {
  width: 100%;
  float: left; }

.introduce {
  text-align: center; }

ul {
  list-style-type: none; }

.information-add-edit {
  width: 100%;
  float: left; }

/*-----------------button mxh---------------------*/
ul.links li {
  float: left;
  list-style-type: none;
  margin-left: 9px;
  padding-left: 0px;
  margin-top: 15px; }

li.service-links-twitter-widget.first button {
  background: #2980b9;
  border-radius: 6px;
  border: 1px solid #1f6797;
  color: white;
  font-weight: bold; }

i.fa.fa-floppy-o {
  margin-right: 1px !important; }

ul.links {
  width: 100%;
  float: left;
  padding: 0px; }

/*---------------------------------*/

/*# sourceMappingURL=single.css.map */
