#testimonial {
	background-color:#fff;
	.carousel {
        
            .carouse-prev {
                position: absolute;
                top: 0;
                z-index: 100;
                line-height: 250px;
                img {
                    width:100%;
                    cursor: pointer;
                }
            }
            .carouse-next {
                position:absolute;
                top:0;
                right:0;
                line-height:250px;
                z-index: 100;
                  img {
                    width:100%;
                    cursor: pointer;
                }

            }  
    } 
	.tt-title {
		text-align:center;
		color: #008cd8;
   		text-transform: capitalize;
   		font-size:25px;
   		h3 {
   			font-weight:600;
   			font-size:30px;
   		}
		i {
			padding-right:10px;
		}
	}
	.tm-content {
		text-align:center;
		position:relative;
		padding-top:20px;
		.tm-img {
			width:150px;
			height:150px;
			border-radius:50%;
			overflow:hidden;
			display: inline-block;
			text-align:center;
			img {
				width:100%;
				border-radius:50%;
			}
		}
		.tm-infor {
			
			font-size:16px;
			color:#666666;
			padding-top:25px;
			.tm-name {
				text-transform:uppercase;
			}
			.tm-job {

				padding: 10px 15px;
				text-transform:capitalize;
			}
		}
		.tm-des {
			   
   				span {
   					font-size: 16px;
				    color: #999999;
				    line-height: 30px;
   				}
		}
		
	}
}