.my-account .remove-padding15 {
  padding-left: 0;
  padding-right: 0; }
.my-account .account-infor {
  text-align: center; }
.my-account .author-avata {
  text-align: center; }
.my-account li.lst-setting {
  width: 100%; }
.my-account .nav-tabs > li.active > a, .my-account .nav-tabs > li.active > a:hover, .my-account .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border: none;
  border-bottom-color: transparent;
  cursor: default; }
.my-account .author-avata {
  padding-top: 15px; }
  .my-account .author-avata img {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
.my-account .account-infor h1 {
  color: #008cd8;
  font-size: 25px; }
.my-account .account-infor h3 {
  font-size: 18px;
  color: #484848; }
.my-account .account-infor span {
  font-size: 12px;
  color: #2980b9; }
.my-account .account-infor .list-ct {
  line-height: 35px;
  padding-left: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc; }
  .my-account .account-infor .list-ct .lst-setting a {
    color: #2980b9;
    font-size: 16px; }
  .my-account .account-infor .list-ct .lst-setting i {
    padding-right: 5px; }
.my-account .box-company {
  border-bottom: 1px solid #ecf0f1; }
  .my-account .box-company .ac-title {
    font-size: 25px; }
    .my-account .box-company .ac-title a {
      color: #008cd8;
      font-weight: bold; }
    .my-account .box-company .ac-title i {
      padding-right: 5px;
      font-size: 20px; }
  .my-account .box-company .add-company {
    font-size: 16px; }
    .my-account .box-company .add-company i {
      padding-right: 5px;
      font-size: 20px; }
  .my-account .box-company .box-table {
    border: 2px solid #ecf0f1;
    margin-top: 10px;
    margin-bottom: 15px; }
    .my-account .box-company .box-table .b-title {
      background: #ecf0f1;
      padding: 10px; }
    .my-account .box-company .box-table .list-company {
      color: #2980b9;
      font-size: 16px;
      padding-top: 15px;
      padding-left: 5px; }
      .my-account .box-company .box-table .list-company .lst-icon a {
        padding: 5px; }

/*-------------------TAI KHOAN VIP-----------*/
table#table {
  width: 100%; }

#table th, #table td {
  vertical-align: top;
  padding: 5px 10px;
  border: 1px solid #fff; }

#table tr {
  background: #eee; }

div#show_user_package h1.resume-section-title {
  font-size: 25px; }

div#show_user_package p {
  text-align: center; }

p.price-list-stars {
  padding: 20px;
  font-size: 20px;
  font-weight: bold; }

.select-packge.select-wrapper {
  text-align: center; }

select.package {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6)); }

div#Diamond {
  padding-left: 20px;
  padding-right: 20px; }

p.name_package {
  font-size: 18px !important;
  font-weight: bold;
  color: #008cd8;
  text-align: center; }

span.star_package {
  width: 100%;
  text-align: center; }

div#Diamond {
  border-top: 5px solid #008cd8 !important;
  display: inline-table !important;
  margin-top: 2% !important;
  border: 1px solid #e1e1e1; }

div#Diamond ul {
  list-style-type: none  !important;
  margin-right: 16px  !important;
  padding-left: 16px; }

div#Diamond a.button.sign-up {
  text-align: center;
  width: 100% !important;
  padding: 13px  !important;
  background-color: #008cd8  !important;
  border: 1px solid #e1e1e1  !important;
  -webkit-border-radius: 3px  !important;
  -moz-border-radius: 3px  !important;
  -ms-border-radius: 3px  !important;
  -o-border-radius: 3px  !important;
  border-radius: 3px  !important;
  text-decoration: none  !important;
  text-transform: uppercase  !important;
  font-weight: 600  !important;
  color: white  !important;
  display: block  !important;
  margin-bottom: 15px  !important;
  font-size: 15px  !important;
  clear: left  !important;
  letter-spacing: 1.5px  !important;
  -webkit-transition: all 0.2s ease-in-out  !important;
  -moz-transition: all 0.2s ease-in-out  !important;
  -ms-transition: all 0.2s ease-in-out  !important;
  -o-transition: all 0.2s ease-in-out  !important;
  transition: all 0.2s ease-in-out  !important; }

div#Diamond li {
  font-weight: 600  !important;
  font-size: 16px  !important;
  text-align: left  !important;
  margin-bottom: 20px  !important; }

div#Diamond span {
  olor: #9e9e9e  !important;
  display: inline-block  !important;
  margin-left: 50px  !important;
  font-weight: 400  !important;
  font-size: 14px  !important;
  float: right  !important; }

div#Diamond span.amount {
  font-size: 20px  !important;
  font-weight: 600  !important;
  width: 74% !important; }

div#Diamond .price {
  font-size: 26px  !important;
  width: auto  !important;
  margin-bottom: 35px  !important;
  margin-top: 17px  !important; }

.table.show_user_package {
  text-align: center; }

#show_vip_package h1.resume-section-title, #show_user_package h1.resume-section-title {
  text-align: center;
  color: #008cd8;
  font-size: 25px; }

#show_vip_package p {
  text-align: center; }

#show_vip_package .table {
  text-align: center; }

select.package_up {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #F6F6F6)); }

.form-register {
  width: 100%;
  float: left; }

.register label.control-label.col-sm-3 {
  text-align: left;
  width: 100% !important; }

ul.nav.nav-tabs li {
  width: 100%; }

select.form-control {
  padding-left: 33px; }

a.button-ag-full {
  font-size: 18px;
  background-color: #1f8cd8;
  line-height: 28px;
  padding: 10px;
  margin-top: 30px;
  float: right;
  color: #ffffea;
  border-radius: 5px; }

a.button-ag-full:hover {
  background-color: #1f6797; }

.button-ag-full i {
  font-size: 21px;
  padding-right: 7px;
  top: -1px; }

span.my-account-header-settings {
  width: 100%;
  float: left;
  text-align: center; }
  span.my-account-header-settings a.button-ag-full {
    width: 100%;
    font-size: 18px; }

.table {
  text-align: center; }

/*# sourceMappingURL=my-account.css.map */
